<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.springframework" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <springProfile name="production">
            <appender-ref ref="LOGSTASH" />
        </springProfile>
    </root>
</configuration>
