<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.springframework" level="WARN"/>
    <springProfile name="production">
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${LOGSTASH_SOCKET_ADDRESS}</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>
                    {"service_name":"continuousdelivery", "deployment_stage": "${DEPLOYMENT_STAGE}"}
                </customFields>
            </encoder>
            <keepAliveDuration>5 minutes</keepAliveDuration>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <springProfile name="production">
            <appender-ref ref="LOGSTASH" />
        </springProfile>
    </root>
</configuration>
